[Desktop Entry]
Name=Hello Again
GenericName=Hello World App
Comment=Proves that we can use Vala and Gtk
Categories=Utility;Education;Programming;
Exec=com.github.ondb.hello-again
Icon=application-default-Icon
Terminal=false
Type=Application
Keywords=Hello;Again;Example;